:root {
    --clr-grey: #B7B6B6;
    --clr-blue-100: #0063A9;
    --clr-blue-500: #252390;
}

.navbar{
    background-color: #538CC6;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    text-decoration: none;
    color: #252390;
}

.h2{
    text-align: center;
    margin-top: 3em;
    color: var(--clr-blue-100);
}
h5{
    color: var(--clr-blue-100);
}
h6{
    color: var(--clr-blue-500);
}

footer{
    margin-top: 4em;
    padding-top: 2em;
    padding-bottom: 1em;
    background-color: #538CC6;
}

.conteudo-footer, .p{
    text-align: center;
    color: white;
}

.form-container {
    border: .5px solid var(--clr-grey);
    padding: 2em;
}

.form-container h1 {
    color: var(--clr-blue-100);
};

.form-container p {
    width: 100px;
}
.accordion, .menu{
    margin-top: 2em;
}

.accordion-body{
    text-align: justify;
}

a:hover{
    color: #252390;
    text-decoration:underline;
    

}
a{
    text-decoration: none;
}


