.navbar{
    background-color: #538CC6;
}


.nav-link{
    color: white;
}

.nav-link:hover{
    text-decoration: none;
    color: #252390;
}

.h2{
    text-align: center;
    margin-top: 3em;
    color:#0063A9;
}
h5{
    color: #0063A9;
}
h6{
    color: #252390;
}

footer{
    margin-top: 4em;
    padding-top: 2em;
    padding-bottom: 1em;
    background-color: #538CC6;
}

.conteudo-footer, .p{
    text-align: center;
    color: white;
}

.accordion, .menu{
    margin-top: 2em;
}

.accordion-body{
    text-align: justify;
}

a:hover{
    color: #252390;
    text-decoration:underline;
    

}
a{
    text-decoration: none;
}


